body {
    text-align: center;
    background: #776B5D;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-family: Krona One;
    font-size: 36px;
    font-style: normal;
    color: #F3EEEA;
}

p {
    color: #F3EEEA;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
}

span {
    color: #BBAB8CE5;
    border: 1px solid #BBAB8CE5;        
    padding: 3px;
}

strong {
    color: #BBAB8CE5;
}

img {
    width: 417px;
    height: 399px;
    flex-shrink: 0;
    border-radius: 249.5px;
}

a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #BBAB8CE5;
    color: #776B5D;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    margin: 10px 0 10px 0;
    max-width: 30%;
}
